<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/primary.css') }}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container d-flex p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand text-center">Quiz-Q</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link {{home}}" href="/">Home</a>
            <a class="nav-link {{archives}}" href="/archives">Archives</a>
            <a class="nav-link {{about}}" href="/about">About Us</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner">
        {% block main %}{% endblock %}
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner text-center">
          <p>Project Developers: <a href="https://github.com/anime-sh">Animesh Jha</a>, <a href="https://github.com/nisarg1631">Nisarg Upadhyaya</a>, <a href="https://github.com/psycnic">Shobhyam Chakravarty</a> </p>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/primary.js') }}"></script>
  </body>
</html>