{% extends "primary.html" %}

{% block title %}Question{% endblock %}

{% block main %}

  <div class="mt-5 card">
    <img class="img-fluid" src="{{question_data['q_url']}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: black;">Quiz: {{quiz_name[:-5]}}</h5>
      <p class="card-text" style="color: gray;">Question {{ques_num[1:]}}</p>
        {% for tag in question_data['tags'] %}
          <a href="../../tags/{{tag}}" class="btn btn-primary" style="background-color: grey; border-color: black;">{{tag}}</a>
        {% endfor %}
        <div class="btn-group float-right" role="group" aria-label="Button group with nested dropdown">
          <a href="{{ques_num}}/answer" class="btn btn-primary float-right">Answer</a>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Extra(s)
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              {% for url in question_data['extra_url'] %}
              <a class="dropdown-item" href="{{url}}">Link {{loop.index}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}